@layer theme, base, antd, components, utilities;
@import "tailwindcss";
/* @import "tailwindcss/theme.css" layer(theme); */
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1280px];
  }

  @media (min-width: 1536px) {
    .container {
      @apply max-w-[1286px];
    }
  }
}

@layer utilities {

  .flex-center {
    @apply flex justify-center items-center;
  } 
  
}

@theme {
  --color-primary: #07121A;
  --color-secondary: #122D42;
  --color-white: #ffffff;
}

:root {
  --primary: #07121A;
}

html {
  scroll-behavior: smooth;
}

.headerSearch .ant-input::placeholder {
  color: white !important;
  opacity: 0.6 !important;
  
<<<<<<< HEAD
}


.ant-drawer-close {
=======
}

@theme {
  --color-primary:#07121A;
  --color-secondary:#122D42;
  --color-gradient:linear-gradient(to right, #3b82f6, #6366f1);
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #1F2937 inset !important; /* bg-gray-800 example */
    -webkit-text-fill-color: #F9FAFB !important; /* text color */
    transition: background-color 5000s ease-in-out 0s !important;
  }
}


.otp-input .ant-input {
  width: 70px !important;   /* increase width */
  height: 70px !important;  /* increase height */
  font-size: 2rem !important; /* make text bigger */
  text-align: center !important;
  border-radius: 0.5rem; /* optional: rounded corners */
}
.ant-drawer-close{
>>>>>>> eb50882a8bd61561d45f98f2e9d29b07fc96ee5e
  color: white !important;
}

.ant-modal-close {
  color: white !important;
}

* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
<<<<<<< HEAD
}
=======
}
>>>>>>> eb50882a8bd61561d45f98f2e9d29b07fc96ee5e
