
@layer theme, base, antd, components, utilities;
@import "tailwindcss";
/* @import "tailwindcss/theme.css" layer(theme); */
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --primary: #07121A;
}


html {
  scroll-behavior: smooth;
} 

.headerSearch .ant-input::placeholder{
  color: white !important;
}


.ant-drawer-close{
  color: white !important;
}
.ant-modal-close{
  color: white !important;
}
* {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}
