@layer theme, base, antd, components, utilities;
@import "tailwindcss";
/* @import "tailwindcss/theme.css" layer(theme); */
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1280px];
  }

  @media (min-width: 1536px) {
    .container {
      @apply max-w-[1286px];
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@theme {
  --color-primary: #07121a;
  --color-secondary: #122d42;
  --color-white: #ffffff;
}

:root {
  --primary: #07121a;
}

html {
  scroll-behavior: smooth;
}

.headerSearch .ant-input::placeholder {
  color: white !important;
  opacity: 0.6 !important;
}

@theme {
  --color-primary: #07121a;
  --color-secondary: #122d42;
  --color-gradient: linear-gradient(to right, #3b82f6, #6366f1);
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important; /* bg-gray-800 example */
    -webkit-text-fill-color: #f9fafb !important; /* text color */
    transition: background-color 5000s ease-in-out 0s !important;
  }
}

.otp-input .ant-input {
  width: 70px !important; /* increase width */
  height: 70px !important; /* increase height */
  font-size: 2rem !important; /* make text bigger */
  text-align: center !important;
  border-radius: 0.5rem; /* optional: rounded corners */
}
.ant-drawer-close {
  color: white !important;
}

.ant-modal-close {
  color: white !important;
}

* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.custom-black-modal .ant-modal-content {
  background: #071023 !important;
  color: #ffffff !important;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid #3b3b3b !important;
}

.ant-input-outlined {
  color: #ffffff !important;
  background: transparent !important;
  border: 1px solid #ffffff1a !important;
/* height: 48px !important; */
} 

.ant-input::placeholder {
  color: #6B7280 !important;
}

.custom-form .ant-form-item .ant-form-item-label > label {
  color: rgba(252, 246, 246, 0.8) !important;
}

.custom-form
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background: transparent !important;
  color: #ffffff !important;
  /* height: 48px !important; */

}

/* Placeholder text white */
.custom-form
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.custom-form .ant-select-multiple .ant-select-selection-overflow .ant-select-selection-item-remove {
  color: #ffffff !important;
}
.custom-form .ant-select-dropdown {
  background-color: black !important;
}
.custom-form .ant-select-arrow {
  color: white !important;
}
